flows.json
[
    {
        "id": "a75dc21a181fad7b",
        "type": "tab",
        "label": "Введение",
        "disabled": false,
        "info": "Ознакомительный поток",
        "env": []
    },
    {
        "id": "c3c1b1815f0e7d42",
        "type": "comment",
        "z": "a75dc21a181fad7b",
        "name": "Комментарий",
        "info": "# Node-RED\n\nNode-RED — это инструмент для потокового программирования и визуального low-code прототипирования приложений, созданный для быстрой интеграции данных, автоматизации и визуализации процессов.\n\n## Основные особенности\n\n- Позволяет собирать, обрабатывать и визуализировать данные, подключать устройства, API, базы данных и онлайн-сервисы в виде \"потоков\" данных без необходимости писать много кода.\n- Интерфейс полностью браузерный: блоки (узлы) перетаскиваются на рабочую область, соединяются между собой и запускаются одним кликом.\n- Приложения строятся по принципу **событие → обработка → результат**, что идеально подходит для IoT, автоматизации, быстрой интеграции и прототипирования процессов.\n",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd5295ab26f97d23",
        "type": "inject",
        "z": "a75dc21a181fad7b",
        "name": "Нажми здесь",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "demo",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "e690f0a2f53e2026"
            ]
        ]
    },
    {
        "id": "e690f0a2f53e2026",
        "type": "debug",
        "z": "a75dc21a181fad7b",
        "name": "Получи там",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    }
]